.header {
    width: 100%;
    flex: 0 0 50px;
    padding: 5px 20px;
    display: flex;
    background-color: #ffc250;
    margin-bottom: 10px;
    align-items: center;
}

.header-users-count{
    margin-left: 10px;
}

.header-messages-count{
    margin-left: 10px;
}

.header-last-message-date-block{
    flex: 1 1 50%;
    text-align: right;
}

